.panel-bg {
  display: flex;
  background: #fff;
  border-bottom: solid 3px #e8e8e8;
  height: 95px;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width:768px) {
   display: block;
  }

  .brand {
    display: flex;
    align-items: center;
    margin-left: 100px;
    color: rgb(2, 144, 255);
    @media screen and (max-width:768px) {
    margin: 0 auto;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  }

  .nav {
    display: flex;
    margin-right: 100px;

    &:hover {
      cursor: not-allowed;
    }

    .nav-link {
      font-family: Montserrat, sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.7rem;
      letter-spacing: 1px;
      margin-left: 87px;
      color: #b5b5b5;
    }
  }
}
